*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color:#f8f8f8;
}
#main{
    height: 100vh;
    width: 100vw;
    background-color:#f8f8f8;
    position: relative;
    padding-top: 0.1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#nav{
    height: 10vh;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav h1{
    height: 100%;
    width: 20%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:monument;
    font-size: 30px;
    letter-spacing: -1px;
    position: relative;
   
}
#nav h1::after{
    content: "©";
    font-family: none;
    font-weight: 300;
    font-size: 2vw;
    position: absolute;
    top: 8%;
    right: 3%;
}
#nav h1::before{
    content: "model managment";
    font-family: none;
    font-weight: 300;
    font-size: 1.2vw;
    position: absolute;
    top: 65%;
    right: 18%;
    letter-spacing: 0.2px;
    color: #666;
}
#nav h2{
    height: 100%;
    width: 20%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 17px;
    font-weight: 600;
    /* background-color: red; */
    
}
#nav h2:nth-last-child(1){
    width: 8%;  
    
}
#nav h2:nth-last-child(2){
    width: 25%;  
    
}
#nav h3{
    display: none;
}

#center{
    height: 90%;
    width: 100%;
    /* background-color: red; */
    padding: 4vw;
    position: relative;
}
#content{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
   height: 52%;
   width: 100%;
   position: absolute;
   /* backdrop-filter: blur(1px); */
   bottom: 0;
   padding: 4vw;
   color: white;
}
#over1{
    /* line-height: 7vh; */
    /* letter-spacing: 2.5px; */
    /* font-size: 2.3vw; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
}
#over1 h1{
    font-size: 4vw;
    line-height: 8vh;
    padding-bottom: 3vh;
    font-weight: 200;
    font-family: monument;
    
}
#over1 h2{
    
    font-size: 2vw;
    font-weight: 100;
    /* background-color: blue; */
    border-radius: 50%;
    padding: 1.5vw 1.9vw;
    border: 2px solid white;
    
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid whitesmoke;      
}
#over2 h4{
    font-size: 1.5vw;
    padding-left: 2vw;
    font-weight: 500;
}
#image-scroll{
    height: 30vh;
    width: 100%;
    background-color:#f8f8f8;  
    /* padding: 1vw; */
    white-space: nowrap;
    overflow-x:hidden;
    overflow-y: hidden;
    /* margin: 3vw; */

}
#container{
    height: 100%;
    width: 100%;
    background-color:#f8f8f8;
    display: inline-block;
    white-space: nowrap;
    padding: 2vw;
    /* margin: 2vw; */
    animation-name: anime;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
#image-scroll img{
    padding: 1vw;
    /* display: block; */
    height: 108%;
    width: 17%;
    border-radius: 50%;
    object-fit: cover;
    object-position: 30% 30%
}
@keyframes anime{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
    
}
#alphabet{
    height: 10vh;
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.8vw;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  
}
#alphabet h4{
    font-size: 2vw;
    font-weight: 500;    
    font-style: italic;
    border-bottom: 2px solid black;
    letter-spacing: 3px;
    /* margin-left: 2vw; */
    /* padding-right: 2vw; */
}
#alphabet h5{
        font-size: 1.8vw;
        font-weight: 400;    
        font-style: italic;
        /* border-bottom: 2px solid black; */
        /* letter-spacing: 3px; */
        /* background-color: blanchedalmond; */
       padding: 3px 5px;
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 50%;
        
    }
    #alphabet h5:hover{
        border: 2px solid black;
        cursor: pointer;
    }
#content1{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 5vw 4vw;
}
#content1-left{
    height: 100%;
    width: 50%;
    /* background-color: green; */
    background-image: url(assets/image-page2/A.jpg);
    background-position: center;
    background-size: cover;
    /* border-radius: 5px; */
    position: relative;
}
#content1-left h5{
    font-size: 3vw;
    font-weight: 600;
    /* background-color: aqua; */
    bottom: -10%;
    position: absolute;
    font-family: monument;
    margin-left: 10px;
}
#content1-right{
    height: 85%;
    width: 45%;
}
#content1-right img{
    height: 85%;
    width: 100%;
    object-fit: cover;
    /* object-fit: cover; */
    object-position: -20% 20%;
    /* border-radius: 5px; */
}
#image-caption{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 3vw 3vw;
}
#image-caption h4{
    font-size: 1.7vw;
    font-weight: 600;
    
}
#image-caption p{
    font-size: 1.3vw;
    font-weight: 500;
    /* line-height: 2vw; */
}
#content2{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 1vw 4vw;
    padding-bottom: 5vw;

}
#content2-left{
    height: 100%;
    width: 35%;
    /* background-color: green; */
}
#content2-left img{
    height: 70%;
    width: 100%;
    object-fit: cover;
}
#content2-left h4{
    font-size: 1.5vw;
    padding: 5vw 5vw;
}

#content2-right{
    height: 100%;
    width: 60%;
    /* background-color: blue; */
    background-image: url(assets/image-page2/D.jpg);
    background-size: cover;
    /* background-position: center; */
    /* border-radius: 5px; */

}
#content3{
    height: 80vh;
    width: 100vw;
    /* background-color: red; */
    /* border-radius: 5px; */
}
#content3 img{
    height: 100%;
    width: 100%;
    /* background-size: cover; */
    /* background-position: top; */
    object-position: top;
    object-fit: cover;
    padding: 0.5vw 4vw;
    /* border-radius: 5px; */
    
    /* padding: 3vw 4vw; */
}
#content4{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    padding: 5vw 4vw;
    position: relative;
    
}
#content4>h1{
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    /* position: relative; */
    margin-bottom: 5vh;
}
.elem{
    height: 20vh;
    width: 100%;
    /* background-color: blue; */
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
    transition: all ease-in-out 1s;
}
.elem img{
    height:10vw;
    width: 10vw;
    position: absolute;
    border-radius: 50%;
    /* background-size: cover; */
    object-position: top;
    object-fit: cover;
    left: 15%;
    opacity: 0;
    transition: all ease-in-out 1.5s;
}
.elem>h4{
    font-size: 1.8vw;
    font-weight: 700;
    text-transform: uppercase;
    width: 5%;
}
.elem .elem-part2{
    /* background-color: red; */
    width: 40%;
}
.elem .elem-part2 h1{
    font-size: 3.5vw;
    font-weight: 500;
}
.elem .elem-part2 h5{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 500;
}
.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}
.elem:nth-last-child(1) img{
    left: 50%;
}
.elem:nth-last-child(3) img{
    left: 50%;
}
.elem:hover img{
    opacity: 1;
    left: 30%;

}
.elem:hover{
    background-color: rgb(228, 227, 227);
}
#content5{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    padding: 5vw 4vw;
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#content5-left{
    height: 100%;
    width: 45%;
    /* background-color: green; */
    background-image: url(assets/content5/A.png);
    background-size: cover;
    background-position: center;
    /* border-radius: 5px; */
}
#content5-right{
    height: 100%;
    width: 50%;
    /* background-color: blue; */
    /* background-image: url(assets/image-page2/D.jpg);
    background-size: cover;
    border-radius: 5px; */
}
#content5-right .part1{
    height: 50%;
    width: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
#content5-right .part1 h2{
    font-size: 3.5vw;
    font-weight: 600;
    font-family: monument;
    text-transform: uppercase;
}
#content5-right .part1 h5{
    font-size: 2vw;
    font-weight: 700;
    width: 60%;
}
#content5-right .part1 p{
    font-size: 1.5vw;
    font-weight: 500;
    width: 95%;
}
#content5-right .part2{
    height: 50%;
    width: 100%;
    /* background-color: blue; */
}
#content5-right .part2 img{
    height: 100%;
    width: 49%;
    object-fit: cover;
    object-position: center;
    /* border-radius: 5px; */
   margin-left: 0.2vw;
}
#content6{
    height: 80vh;
    width: 100vw;
    /* border-radius: 5px; */
    /* background-color: blue; */
   
}
#content6 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    /* border-radius: 5px; */
    padding: 0.5vw 4vw;
}
#content7{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 5vw 4vw;
}
#content7-left{
    height: 100%;
    width: 50%;
    /* background-color: blue; */
    background-image: url(assets/content7/A.jpg);
    background-size: cover;
    background-position: center;

}
#content7-right{
    height: 70%;
    width: 45%;
    /* background-color: green; */
    /* background-image: url(assets/content7/B.jpg); */
    /* background-size: cover; */
    /* background-position: center; */
}
#content7-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    /* border-radius: 5px; */
}
#content7-right-subtitle{
    display: flex;
    justify-content: center;
    gap: 3vw;
    padding: 4vw 0;
  
}
#content7-right-subtitle h2{
    font-size: 1.7vw;
    font-weight: 600;
   
}
#content7-right-subtitle p{
    font-size: 1.3vw;
    font-weight: 500;
}
#markeq{
    height: 10vh;
    width: 100vw;
    /* background-color: blue; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#markeq h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: monument;
    letter-spacing: 0.3vw;
    /* background-color: red; */
    margin-right: 16px;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 20px));
    }
}
#footer{
    height: 100vh;
    width: 100vw;
}
#footer-content1{
    height: 50%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 3vw 4vw;
}
#footer-content1-part1{
    height: 50%;
    width: 12%;
    /* background-color: chartreuse; */
    font-size: 2.2vw;
    font-family: monument;
    text-transform: uppercase;
    margin-top: 1vw;
}
#footer-content1-part2{
    height: 50%;
    width:40%;
    /* background-color: aqua; */
}
#footer-content1-part2 h4{
    font-size: 1.5vw;
    font-weight: 600;
    padding: 1vw 1vw;
}
#footer-content1-part2 img{
    height: 165%;
    width: 100%;
    object-fit: cover;
    background-position: center;
}
#footer-content1-part3{
    height: 50%;
    width: 40%;
    /* background-color: brown; */
}
#footer-content1-part3 img{
    height: 165%;
    width: 100%;
    object-fit: cover;
    background-position: center;
}
#footer-content1-part3 h4{
    font-size: 1.5vw;
    font-weight: 600;
    padding: 1vw 1vw;
}
#footer-content2{
    height: 50%;
    width: 100%;
    /* background-color:gray; */
    display: flex;
    justify-content: space-between;
    /* border-top: 2px solid black; */
    /* border-bottom: 2px solid black; */
    padding: 5vw 0;
}
#footer-content2-part1{
    height: 100%;
    width: 40%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 2vw 5vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
#footer-content2-part1 h2{
    font-size: 3vw;
    font-weight: 700;
    font-family: monument;
    position: relative;
}
#footer-content2-part1 h2::after{
    content: "©";
    font-family: none;
    font-weight: 300;
    font-size: 2vw;
    position: absolute;
    /* top: 8%; */
    /* right: 3%; */
}
#footer-content2-part1 h2::before{
    content: "model managment";
    font-family: none;
    font-weight: 300;
    font-size: 1.2vw;
    position: absolute;
   top: 18%;
   left: 30%;
    letter-spacing: 0.2px;
   color: #666;
}
#footer-content2-part1 h5{
    font-size: 2vw;
    font-weight: 500;
}
#footer-content2-part2{
    height: 100%;
    width: 20%;
    /* background-color: brown; */
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
}
#footer-content2-part2 h5{
    font-size: 2vw;
    font-weight: 500;
    text-align: center;
    padding: 2vw 0;
}
#footer-content2-part3{
    height: 100%;
    width: 40%;
    /* background-color: chartreuse; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#footer-content2-part3 h5{
    font-size: 2vw;
    font-weight: 500;
    text-align: center;
    padding: 2vw 0;
    /* border-top: 2px solid black; */
    border-bottom: 2px solid black;
}
#footer-content2-part3 h6{
    font-size: 1.5vw;
    font-weight: 400;
    text-align: center;
    padding: 0vw 5vw;
    width: 100%;
    /* padding-left: vw; */
}
#social-media-icon{
    /* height: 100%; */
    /* width: 100%; */
    display: flex;
    /* justify-content: space-between; */
    padding: 2vw 10vw;
    gap: 2vw;
    font-size: 2.5vw;
}
#social-media-icon :hover{
    cursor: pointer;
    background-color: rgb(238, 238, 238);
}

@media (max-width:600px) {
    #body{
        overflow-x: hidden;
    }
    #nav{
        height: 8vh;
        width: 100%;
        /* background-color: aqua; */
        padding: 0 5vw;
       
    }
    #nav h1{
        /* height: 100%; */
        width: 40%;
        /* background-color: blue; */
        /* display: flex; */
        /* align-items: center; */
        justify-content: flex-start;
        /* font-family:monument; */
        font-size: 20px;
        /* letter-spacing: -1px; */
        /* position: relative; */
       
    }
    #nav h1::after{
        
        display: none;
    }
    #nav h1::before{
      
        display: none;
    }
    #nav h3{
        display: block;
    }
    #nav h2{
       
        display: none;
        
    }
    #center{
        height: 50%;
        width: 100%;
        /* background-color: red; */
        padding: 4vw;
        position: relative;
    }
    #content{
        height: 100%;
        width: 100%;
        /* background-color: blue; */
        position: relative;
    }
    #content video{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #overlay{
       height:fit-content;
       width: 100%;
       position: absolute;
       /* backdrop-filter: blur(1px); */
       bottom: 0;
       padding: 4vw;
       color: white;
    }
    #over1{
        /* line-height: 7vh; */
        /* letter-spacing: 2.5px; */
        /* font-size: 2.3vw; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* padding-bottom: 5px; */
    }
    #over1 h1{
        font-size: 4vw;
        line-height: 4vh;
        /* padding-bottom: 1vh; */
        font-weight: 100;
        font-family: monument;
        
    }
    #over1 h2{
        
        font-size: 3vw;
        font-weight: 100;
        /* background-color: blue; */
        border-radius: 50%;
        padding: 1vw 1.9vw;
        border: 2px solid white;
        
    }
    #over2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 2px solid whitesmoke;      
    }
    #over2 h4{
        font-size: 2.5vw;
        padding-left: 2vw;
        font-weight: 500;
    }
    
}